@font-face { // emoji font from https://meowni.ca/posts/og-emoji-font/
  font-family: og-emoji;
  src: url('fonts/dcm-emoji/DCMEmoji.ttf'), local('ttf');
  font-weight: 400;
}

.og { // use <span class="og"> to wrap the emoji in
  font-family: og-emoji, sans-serif;
  vertical-align: middle;
}

@font-face {
  font-family: 'MintsodaLimeGreen';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MintsodaLimeGreen/MintsodaLimeGreen.ttf'), local('ttf');
  font-display: swap;
}

.mint {font-family: MintsodaLimeGeen, sans-serif;
}

@font-face {
  font-family: 'Ameda';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ameda/Ameda.otf'), local('otf');
  font-display: swap;
}


@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/JetbrainsMono/JetBrainsMono-Bold.ttf'), local('ttf');
  font-display: swap
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf'), local('ttf');
  font-display: swap;
}