<hr>

<div class="footer">
    <p>
        <span class="og"><a href="https://nonmodernist.com">🏠</a></span>
        <span class="counter-item"><span id="books-counter">5</span> 📚</span>
        <span class="counter-item"><span id="movies-counter">10</span> 🎬</span>
        <span class="counter-item"><span id="launch-counter">875</span> 📅</span>
        <span class="og">☕ 🌁 🔍 📷 👓 🌁🌁 💠 📩 🌁 🌁🌁 <a href="https://nonmodernist.com/uses">⚡︎</a> 💓 <a href="https://nonmodernist.com/log">📺</a> 🌁🌁🌁 a 🌁 🌙 <a href="https://nonmodernist.com/readinglog">📖</a></span>
    </p>
</div>
