.callout {
  margin: var(--space-l) 0;
  padding: 0;
  background: var(--bg-1);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}

.callout-title {
  padding: var(--space-xs) var(--space-s);
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  font-weight: 700;
  position: relative;
  line-height: var(--line-height-tight);
}

.callout-title::before {
  margin-right: var(--space-2xs);
  font-family: var(--emoji-font);
}

.callout-content {
  padding: var(--space-s);
  line-height: var(--line-height-normal);
}

.callout.info .callout-title::before {
  content: "💡";
  color: var(--callout-info);
}

.callout.alert .callout-title::before {
  content: "⚡︎";
  color: var(--callout-alert);
  font-family: var(--emoji-font);
}

.callout.success .callout-title::before {
  content: "🚥";
  color: var(--callout-success);
  font-family: var(--emoji-font);
}

.callout.warning .callout-title::before {
  content: "❗";
  color: var(--callout-warning);
  font-family: var(--emoji-font);
}

// Links within callouts
.note-content a {
  color: var(--text-0);
  border-bottom: 1px dotted var(--primary-color);
  
  &:hover {
    color: var(--primary-color);
    background-color: transparent;
  }
}