.primary-color {
  color: var(--primary-color);
}


/* Keep monospace for UI elements */
nav, .meta, .footer, time, .tldr, .toc-container, h1, h2, h3, h4, h5, h6, strong {
  font-family: var(--text-font);
}


.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 900;
}

hr {
  border: 0;
  border-top: 3px dotted var(--border-color); // made hr dotted instead of solid
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--primary-color);
  color: #737373;
  margin: 2rem; // increase margin from 0
  padding-left: 1em;
}

a {
@include link-style;

}

time {
  color: grey;
}

/* Remove post list padding */
.list>ul {
  margin: 0;
  padding: 1rem 0 0 0;
}

/* Post list */
.list-item {
  margin-bottom: 30px;
  list-style-type: none;
}

// change the line-through color
del {
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}

@include mobile-only {
  .post-header {
    display: grid;
    grid-template-rows: auto 1fr;

    h1 {
      margin-top: 0;
      // font-size: 130%;

      a {
        border-bottom: none;
      }
    }
  }
}

/* Post list */
@media all and (min-width: 640px) {
  .post-header {
    display: grid;
    gap: 1rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: auto 1fr;

    h1 {
      margin: 0;
      font-size: 130%;

      a {
        border-bottom: none;
      }
    }
  }
}

/* Remove styling from theme toggle button */
#dark-mode-toggle {
  border-bottom: none;

  &:hover {
    background-color: transparent;
  }
}

.MathJax_Display,
.MJXc-display,
.MathJax_SVG_Display {
  overflow-x: auto;
  overflow-y: hidden;
}


/* Internal link styling - links to your domain or local development server */
a[href*="nonmodernist.com"],
a[href*="127.0.0.1:1111"],
a[href^="/"],
a[href^="#"] {
  border-bottom: 2px dotted var(--primary-color);
  /* Any other specific styling for internal links */
}

a[href^="/notes/"] {
  &::after {
    content: "♦";
    font-family: var(--emoji-font);
    font-size: 0.8em;
    vertical-align: middle;
  }
}

/* External link styling - all other links */
a:not([href*="nonmodernist.com"]):not([href*="127.0.0.1:1111"]):not([href^="/"]):not([href^="#"]) {
  border-bottom: 2px dashed var(--primary-color);

  
  &:after {
    content: "↗"; /* External link indicator */
    position: relative;
    vertical-align: middle;
    font-family: var(--emoji-font);
    font-size: 0.8em;
    margin-left: 0.1em;
    color: var(--primary-color);
  }
}


a.zola-anchor {
  border-bottom: none;
}


/* add minimal styling for footnotes */

.footnote-definition {
  margin: 0 0 0 .125rem;
}

.footnote-definition-label {
  color: var();
}

.footnote-definition p {
  display: inline;
  margin: .625rem 0 0 .1rem;
}


/* add styling for tldr in posts */

.tldr {
  margin: .725rem 2rem;
  border-left: 3px dashed var(--primary-color);
  color: #737373;
  padding: .5rem ;
}