// _mixins.scss

// Breakpoint variables
$breakpoint-small: 640px;  // Mobile
$breakpoint-medium: 720px; // Tablet
$breakpoint-large: 960px;  // Desktop

// Media query mixins
@mixin mobile-only {
  @media all and (max-width: #{$breakpoint-small - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media all and (min-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin desktop-up {
  @media all and (min-width: #{$breakpoint-medium}) {
    @content;
  }
}

@mixin large-desktop-up {
  @media all and (min-width: #{$breakpoint-large}) {
    @content;
  }
}

@mixin tablet-only {
  @media all and (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-medium - 1px}) {
    @content;
  }
}

// Optional: Custom range mixin
@mixin screen-between($min, $max) {
  @media all and (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

// Prevent animations for users who prefer reduced motion
@mixin respect-motion-preferences {
  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
    transition: none !important;
  }
}

// Truncate internal links to hide content after the link text
@mixin truncate-internal-links {
    &::after {
      content: "" !important;
    }

  }

// styling for various UI elements
@mixin card-style {
    background: var(--bg-1);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    h3::before{color:var(--primary-color);content:"";}

  }
  
  @mixin link-style {
    border-bottom: 2px dotted var(--primary-color);
    color: inherit;
    text-decoration: none;
    position: relative;
    z-index: 1;
    
    &:hover {
      background-color: var(--primary-color);
      color: var(--hover-color);
    }
  }
  