.tags {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    border-bottom: none;
    font-family: var(--text-font);
  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--hover_color) !important;
  }
  }
  a::before {
    font-family: var(--emoji-font);
    content: "🎫 "; /* Ensure there's a space after the emoji for spacing */
    display: inline;
    white-space: nowrap !important;
  }
}
