.toc-container {
  .toc-title {
    cursor: pointer;
    position: relative;
    padding-left: 40px; // Space for the arrow
    font-size: 1.2rem; // Adjusted font size for better visibility

    &:before {
      content: '💠'; // replace Down arrow
      font-family: var(--emoji-font);
      position: absolute;
      left: 0;
      transition: transform 0.3s ease; // Smooth transformation
    }

    &:hover:before {
      transform: rotate(90deg); // Arrow points up when expanded or on hover
    }
  }

  .toc-list {
    display: none; // ToC is hidden by default
    // Removed transition on display, not effective
  }
}
