:root {
    /* Used for: block comment, hr, ... */
    --border-color: var(--border-color);
  
    /* Fonts */
    --text-font: 'Jetbrains Mono'; /* Default font */
    --header-font: 'Unifont', 'Helvetica', sans-serif; /* For headers */
    --code-font: 'Jetbrains Mono'; /* For code blocks */
    --emoji-font: 'og-emoji'; /* For emojis */
    --paragraph-font: 'Atkinson Hyperlegible', sans-serif; /* For better readability */

  }


  