{% if style %}
  {% set divider_style = style %}
{% else %}
  {% set divider_style = "default" %}
{% endif %}

{% if symbol %}
  {% set divider_symbol = symbol %}
{% elif divider_style == "ornate" %}
  {% set divider_symbol = "❧" %}
{% elif divider_style == "minimal" %}
  {% set divider_symbol = "•••" %}
{% elif divider_style == "line" %}
  {% set divider_symbol = "" %}
{% else %}
  {% set divider_symbol = "⁂" %}
{% endif %}

<div class="section-divider section-divider-{{ divider_style }}">
  {% if divider_symbol %}
    <span class="divider-symbol">{{ divider_symbol }}</span>
  {% endif %}
</div>