// 
.cards {
    display: grid;
    grid-template-rows: auto;
    gap: var(--space-m);
    padding: var(--space-xs) 0;
    
    @include mobile-only {
        grid-template-columns: repeat(auto-fill, 1fr);
    }
    
    @include tablet-up {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}


.card {
    @include card-style;
    min-height: 100px;
    overflow: hidden;
    padding: 0;
}

.card-info {
    padding: 0 var(--space-m) var(--space-m) var(--space-m);
}

.card-title {
    margin-top: var(--text-spacing-s);
    line-height: var(--line-height-normal);
}


.card-image {
    border: unset;
    width: 100%;
}

.card-image-placeholder {
    height: var(--space-xs);
    width: 100%;
}

.card-description {
    margin-top: var(--text-spacing-s);
    overflow: hidden;
    line-height: var(--line-height-normal);
}

@include desktop-up {
    .cards {
        gap: var(--space-s);
    }
}



/* add styling for recent activity */
.recent-activity {
    margin: var(--space-l) 0;
    
    h2 {
      font-size: 1.8em;
      margin-bottom: var(--space-s);
      line-height: var(--line-height-tight);
    }
  }
  
  .activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-m);
    
    @include mobile-only {
      grid-template-columns: 1fr;
    }
  }
  
  .activity-item {
    @include card-style;
    
    h3 {
      margin-top: 0;
      margin-bottom: var(--space-xs);
      font-size: 1.3rem;
      line-height: var(--line-height-tight);
    }
  }
  
  .activity-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    
    a {
      font-weight: bold;
      border-bottom: none !important;
      
      &:hover {
        background-color: var(--primary-color);
        color: var(--hover-color);
      }
    }
  }
  
  .activity-date {
    color: var(--text-1);
    font-size: 0.9rem;
  }
  
  .activity-tags {
    margin-top: var(--space-2xs);
    font-size: smaller;
  }
  